<% content_for :id, "home" %>

<div class="login-wrapper">

  <div class="icon">
    <%= image_tag "login/log-in.svg" %>
  </div>

  <%= form_for :session, url: sessions_path do |f| %>
      <%= f.text_field :name, placeholder: "Identifiant" %>
      <%= f.password_field :password, placeholder:"Mot de passe" %>
      <div class="submit"><%= f.submit "login" %></div>
  <% end %>

</div>
