<!DOCTYPE html>
<html>
  <head>
    <title>Spha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class="wrap">
        <%= link_to(image_tag("layout/logo.png"), deploy_path) %>
        <%= render 'layouts/logout' %>
        <%= render 'layouts/flash' %>
      </div>
    </header>
    <div id="container" class="<%= yield(:id) %>">
      <%= yield %>
    </div>
  </body>
</html>
